<div id="project-<%=@project.id%>">
  Material: <%= @project.material %>
  Challenge Theme: <%= @project.challenge.theme %>
  Number of Contestants: <%= @project.contestant_count %>
  Average Contestant Experience: <%= @project.contestant_avg_experience%>
</div>