<div id="project-<%=@project.id%>">
  Material: <%= @project.material %>
  Challenge Theme: <%= @project.challenge.theme %>
  Number of Contestants: <%= @project.contestant_count %>
  Average Contestant Experience: <%= number_with_precision(@avg_experience, precision: 2)%> years
</div>